*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px dashed black;
}

:root {
    --color-header: rgba(255, 105, 0, 1);
    --color-lighter: rgba(255, 255, 255, 1);
    --color-darker: rgba(0, 0, 0, 1);
    --color-sale: rgba(255, 0, 0, 1);
    --color-sustainability: rgba(0, 128, 0, 1);
    --color-price: rgba(255, 22, 18, 1);
}

/* #region common */
a {
    text-decoration: none;
    color: var(--color-lighter);
}
/* #endregion common */

/* #region utilities */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 80%;
    margin: auto;
}
/* #endregion utilities */

/* #region header */
#site_header {
    background-color: var(--color-header);
    position: fixed;
    top: 0;
    width: 100%;
}

.header_menu {
    justify-content: space-between;
}
/* #endregion header */

/* #region main */
#site_main  {
    padding-top: 5rem;
}

.item_container {
    width: 40%;
    /* position: relative; */
}

.img_container {
    position: relative;
}

.img_container:hover .item_img{
    display: none;

}

.img_container:hover .item_img_hover {
    display: inline-block;
    width: 100%;
}

.item_img {
    max-width: 100%;
}

.item_img_hover {
    display: none;
}

.add_favourite {
    position: absolute;
    top: 10%;
    right: 10%;
}

.item_marks {
    position: absolute;
    bottom: 10%;
    left: 0;

}

/* #endregion main */

/* #region footer */
#site_footer {
    justify-content: space-between;
}
/* #endregion footer */