*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px dashed black;
}

:root {
    --color-header: rgba(255, 105, 0, 1);
    --color-lighter: rgba(255, 255, 255, 1);
    --color-darker: rgba(0, 0, 0, 1);
    --color-discount: rgba(255, 0, 0, 1);
    --color-sustainability: rgba(0, 128, 0, 1);
    --color-price: rgba(255, 22, 18, 1);
}

/* #region common */
a {
    text-decoration: none;
    color: var(--color-lighter);
}
/* #endregion common */

/* #region utilities */
.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: auto;
}
/* #endregion utilities */

/* #region header */
#site_header {
    background-color: var(--color-header);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
/* #endregion header */

/* #region main */
#site_main  {
    padding-top: 2rem;
}

.item_container {
    width: 30%;
    padding: 1rem 0;
}

    /* #region item_img and marks */
.img_container {
    position: relative;
}

.img_container:hover .item_img{
    display: none;

}

.img_container:hover .item_img_hover {
    display: inline-block;
    width: 100%;
}

.item_img {
    max-width: 100%;
}

.item_img_hover {
    display: none;
}

.add_favourite {
    position: absolute;
    top: 2%;
    right: 0;
    font-size: 1.5rem;
    background-color: var(--color-lighter);
    padding: 0.25rem 0.5rem
}
.add_favourite:hover {
    color: var(--color-price);
}

.item_marks {
    position: absolute;
    bottom: 10%;
    left: 0;
}

.discount {
    font-size: 0.8rem;
    font-weight: bolder;
    color: var(--color-lighter);
    background-color: var(--color-discount);
    padding: 0.25rem;
}

.susteinability_mark {
    font-size: 0.8rem;
    font-weight: bolder;
    color: var(--color-lighter);
    background-color: var(--color-sustainability);
    padding: 0.25rem;
}
    /* #endregion item_img and marks */

.current_price {
    color: var(--color-price);
    font-size: 0.8rem;
}

.older_price {
    text-decoration: line-through;
    font-size: 0.8rem;
}

/* #endregion main */

/* #region footer */
#site_footer {
    justify-content: space-between;
}
/* #endregion footer */